/* переменные */
:root {
  --color-green: #76bc21;
  --background-black-opacity: rgba(27, 7, 66, 0.907);
}

/* общие стили */
a.link {
  color: var(--color-green);
  text-decoration: none;
  transition: opacity 0.25s ease;
}
a.link:hover {
  opacity: 0.7;
}
.block-center {
  display: flex;
  align-items: center;
}

/* header стили */
.header {
  height: 110vh;
  background: url("/img/comp.jpeg") no-repeat center;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 85%, 49% 100%, 0 84%, 0 0);
  position: relative;
  bottom: 100px;
}
.header__background {
  height: inherit;
  position: absolute;
  width: 100%;
  background: rgba(54, 18, 121, 0.712);
  z-index: 1;
}

.header-top {
  color: rgba(54, 18, 121, 0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  background: rgba(0, 0, 0, 0.5); /* Уменьшение непрозрачности фона */
  position: sticky;
  top: 0;
  z-index: 3;
}
.header-top a.link {
  color: white;
  position: relative; /* Добавлено для наложения над фоном */
  z-index: 3; /* Убедитесь, что текст выше фона */
}

.logo {
  font-size: 32px;
  color: white;
  width: 260px;
}

.menu-element {
  margin-right: 25px;
  font-size: 22px;
}
.menu-element:last-child {
  margin-right: 0;
}
.menu-element a.link.active,
.menu-element a.link:hover {
  color: #8cff00;
}

.switcher {
  position: relative;
  display: flex;
  align-items: center;
  height: 35px;
  background: var(--color-green);
  border-radius: 20px;
  width: 100px;
  padding: 0 10px;
  opacity: 0.9;
  transition: opacity 0.025s ease;
  font-size: 14px;
  cursor: pointer;
}
.switcher-container {
  width: 260px;
}
.switcher:hover {
  opacity: 1;
}
.switcher:before {
  content: "";
  width: 50px;
  height: 30px;
  background: #fff;
  position: absolute;
  z-index: 1;
  border-radius: 20px;
  left: 47px;
  transition: left 0.25s ease-in-out;
}
#lang:checked + .switcher:before {
  left: 3px;
}
#lang:checked + .switcher span:first-child {
  color: var(--color-green);
}
#lang:checked + .switcher span:last-child {
  color: #fff;
}
/* разделили кнопку на две части */
.switcher span {
  flex: 1 1 50%;
  text-align: center;
  position: relative;
  z-index: 2;
  color: var(--color-green);
  transition: color 0.25s ease-in-out;
}
.switcher span:first-child {
  color: #fff;
}

#lang {
  display: none;
}
.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (-40px));
  position: relative;
  z-index: 2;
  color: #fff;
}
.name {
  font-size: 58px;
  line-height: 74px;
}

.header-center__wrapper {
  background-color: var(--background-black-opacity);
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.menu-element__link.home svg {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.description {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  width: 990px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid transparent;
  display: inline-block;
  animation: cursor 0.75s 7, print-text 4s steps(300);
  line-height: 1.2; /* Высота линии */
  height: 1.2em; /* Высота элемента */
}
@keyframes cursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
    border-right-width: 2px; /* Толщина курсора */
    border-right-style: solid;
    height: 1.2em; /* Высота курсора */
  }
  100% {
    border-color: transparent;
  }
}
@keyframes print-text {
  from {
    width: 0;
  }
}

/* Стили секции обо мне */
.about-me {
  display: flex;
  align-items: center;
}

.about-me .left {
  flex: 1 1 40%;
  padding-right: 40px;
}

.about-me .right {
  flex: 1 1 60%;
  padding-left: 20px;
  padding-right: 150px !important;
}

.about-me__image {
  width: 350px;
  margin-left: auto;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 5px var(--background-black-opacity));
}

.about-me__title {
  font-size: 36px;
}
.gray {
  color: gray !important;
}
.bold {
  font-weight: 700;
}
.block {
  display: block;
}
.about-me__description {
  font-size: 20px;
  color: rgb(87, 87, 87);
  margin-bottom: 15px;
}
.about-me__exstra-element {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.about-me__exstra-element:last-of-type {
  margin-bottom: 0;
}
ul.about-me__exstra {
  color: black;
  font-size: 20px;
  margin-top: 20px;
}
.about-me__exstra-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.about-me__exstra-icon svg {
  color: var(--color-green);
}
.about-me__exstra-title {
  margin-right: 5px;
}

.colored-text {
  color: gray;
}

/* секция интересы */
.interests {
  padding: 40px 20px;
}

.second-tittle {
  position: relative;
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}
.second-tittle:after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  background: var(--color-green);
  position: absolute;
  bottom: -7px;
  left: calc(50% - 60px / 2);
}

.interests__lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.interest-wrapper {
  width: 30%;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.interest-image {
  width: 200px;
  margin-bottom: 20px;
}

.interest-title {
  margin-bottom: 15px;
  color: black;
  font-size: 20px;
}

.interest-text {
  color: black;
  margin-bottom: 10px;
}

.interest-text:last-of-type {
  margin-bottom: 0;
}
