/* переменные */

:root {
  --color-green: #76bc21;
  --background-black-opacity: rgba(27, 7, 66, 0.907);

  /* еще переменные */
  --work-wrapper: 800px;
  --work-element: 350px;
  --work-year: 40px;
  --work-border-left: 3px;

  --work-margin: calc(var(--work-wrapper) / 2 - var(--work-element));
  --work-indent: calc(0px - var(--work-margin) - var(--work-year) / 2);
  --work-indent-before: calc(0px - var(--work-margin));

  --work-animation-hidden: calc(110vw / 2);
  --work-animation-end-margin: 10px;
}

/* общие стили */
html {
  scroll-behavior: smooth;
}
a.link {
  color: var(--color-green);
  text-decoration: none;
  transition: opacity 0.25s ease;
}
.socials .social-element a.link svg path {
  fill: var(--color-green) !important;
}

a.link:hover {
  opacity: 0.7;
}
.block-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header стили */
.header {
  height: 110vh;
  background: url("/img/comp.jpeg") no-repeat center;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 85%, 49% 100%, 0 84%, 0 0);
  position: relative;
  bottom: 100px;
}
.header__background {
  height: inherit;
  position: absolute;
  width: 100%;
  background: rgba(54, 18, 121, 0.712);
  z-index: 1;
}

.header-top {
  color: rgba(54, 18, 121, 0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  background: rgba(0, 0, 0, 0.5); /* Уменьшение непрозрачности фона */
  position: sticky;
  top: 0;
  z-index: 3;
}
.header-top a.link {
  color: white;
  position: relative; /* Добавлено для наложения над фоном */
  z-index: 3; /* Убедитесь, что текст выше фона */
}

.logo {
  font-size: 32px;
  color: white;
  width: 260px;
  white-space: nowrap;
}

.menu-element {
  margin-right: 25px;
  font-size: 22px;
  gap: 20px;
  justify-content: space-around;
}
.menu-element:last-child {
  margin-right: 0;
}
.menu-element a.link.active,
.menu-element a.link:hover {
  color: #8cff00;
}

.switcher {
  position: relative;
  display: flex;
  align-items: center;
  height: 35px;
  background: var(--color-green);
  border-radius: 20px;
  width: 100px;
  padding: 0 10px;
  opacity: 0.9;
  transition: opacity 0.025s ease;
  font-size: 14px;
  cursor: pointer;
}
.switcher-container {
  width: 260px;
}
.switcher:hover {
  opacity: 1;
}
.switcher:before {
  content: "";
  width: 50px;
  height: 30px;
  background: #fff;
  position: absolute;
  z-index: 1;
  border-radius: 20px;
  left: 47px;
  transition: left 0.25s ease-in-out;
}
#lang:checked + .switcher:before {
  left: 3px;
}
#lang:checked + .switcher span:first-child {
  color: var(--color-green);
}
#lang:checked + .switcher span:last-child {
  color: #fff;
}
/* разделили кнопку на две части */
.switcher span {
  flex: 1 1 50%;
  text-align: center;
  position: relative;
  z-index: 2;
  color: var(--color-green);
  transition: color 0.25s ease-in-out;
}
.switcher span:first-child {
  color: #fff;
}

#lang {
  display: none;
}
.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (-40px));
  position: relative;
  z-index: 2;
  color: #fff;
}
.name {
  font-size: 58px;
  line-height: 74px;
}

.header-center__wrapper {
  background-color: var(--background-black-opacity);
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.menu-element__link.home svg {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.description {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  width: 990px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid transparent;
  display: inline-block;
  animation: cursor 0.75s 7, print-text 4s steps(300);
  line-height: 1.2; /* Высота линии */
 
}
@keyframes cursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
    border-right-width: 2px; /* Толщина курсора */
    border-right-style: solid;
    height: 1.2em; /* Высота курсора */
  }
  100% {
    border-color: transparent;
  }
}
@keyframes print-text {
  from {
    width: 0;
  }
}

/* Стили секции обо мне */
.about-me {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}

.about-me .left {
  flex: 1 1 40%;
  padding-right: 40px;
}

.about-me .right {
  flex: 1 1 60%;
  padding-left: 20px;
  padding-right: 150px !important;
}

.about-me__image {
  width: 350px;
  margin-left: auto;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 5px var(--background-black-opacity));
}

.about-me__title {
  font-size: 36px;
}
.gray {
  color: gray !important;
}
.bold {
  font-weight: 700;
}
.block {
  display: block;
}
.about-me__description {
  font-size: 20px;
  color: rgb(87, 87, 87);
  margin-bottom: 15px;
}
.about-me__exstra-element {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.about-me__exstra-element:last-of-type {
  margin-bottom: 0;
}
ul.about-me__exstra {
  color: black;
  font-size: 20px;
  margin-top: 20px;
}
.about-me__exstra-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.about-me__exstra-icon svg {
  color: var(--color-green);
}
.about-me__exstra-title {
  margin-right: 5px;
}

.colored-text {
  color: gray;
}

/* секция интересы */
.interests {
  padding: 40px 180px;
}

.second-tittle {
  position: relative;
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}
.second-tittle:after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  background: var(--color-green);
  position: absolute;
  bottom: -7px;
  left: calc(50% - 60px / 2);
}

.interests__lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.interest-wrapper {
  width: 30%;
  
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}

/* Фиксируем высоту изображения */
.interest-image {
  width: 270px;
  height: 300px; /* Устанавливаем фиксированную высоту */
  margin-bottom: 20px;
  object-fit: cover; /* Чтобы изображение корректно вписывалось в заданные размеры */
}

/* Устанавливаем, что текстовый контейнер должен занимать оставшееся пространство */
.interest-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.interest-title {
  margin-bottom: 15px;
  color: black;
  font-size: 20px;
}

.interest-text {
  color: black;
  margin-bottom: 10px;
}

.interest-text:last-of-type {
  margin-bottom: 0;
}

/* секция достижения */
.section-gray {
  background: #e1e1e1;
}

.achievements {
  flex-direction: column;
  position: relative;
  padding: 40px 0;
}

.achievements:before,
.achievements:after {
  content: "";
  position: absolute;
  border: 80px solid transparent;
}

.achievements:before {
  border-top: 30px solid #fff;
  top: 0;
}
.achievements:after {
  border-top: 30px solid #e1e1e1;
  bottom: -109px;
}
/* слайдер */
.slider {
  position: relative;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}
.slider__wrapper {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  transition: all 0.5s ease;
}
.slider__image {
  width: 100%;
  max-width: 250px;
}
.slider__img {
  width: 70%;
  max-width: 200px;
}
.slider__link {
  flex: 1 1 33%;
}
/* секция навыки */
.skills {
  padding: 60px 0 40px;
}
.skills-filters {
  gap: 20px;
  font-size: 18px;
  margin-bottom: 40px;
}
.skills-filter {
  cursor: pointer;
  list-style-type: none;
  transition: color 0.25s ease;
}
.skills-filter:hover {
  color: var(--color-green);
}
.skills-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.skills-wrapper .left {
  flex: 1 1 70%;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding-right: 20px;
  flex-direction: column;

  max-width: 70%;
}
.skills-wrapper .right {
  flex: 1 1 30%;
  padding: 0 0 20px 20px;

  border-left: 1px solid #808080;
}

.skills-list__element {
  display: flex;
  flex: 1 1 31%;
  max-width: 31%;
  box-shadow: 3px 3px 10px rgb(0 0 0/0.3);
  border-radius: 3px;
  min-height: 80px;
  padding: 10px;
  align-items: center;
  transition: all 0.1s ease;
  cursor: pointer;
}
.skills-list__element svg {
  flex: 1 1 28%;
}
.skills-list__element span {
  flex: 1 1 70%;
  padding-left: 20px;
  font-size: 24px;
}
.skills-list__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.skills-list__element:hover {
  outline: 2px solid var(--color-green);
  transform: scale(105%);
}
.skill-card__tittle svg,
.skill-card__image {
  width: 150px;
  flex: 1 1 30%;
  
}
.skill-card__tittle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.skill-card__progress {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}
.skill-card__progress-percent {
  font-size: 18px;
  color: black;
}
.skill-card__progress-bar {
  position: relative;
  background: rgb(186, 186, 186);
  border-radius: 20px;
  height: 8px;
  width: 100%;
  overflow: hidden;
}
.skill-card__progress-bar div {
  width: 15%;
  height: inherit;
  background: var(--color-green);
}
.skill-card__description {
  color: black;
  text-align: justify;
}
.skill-card__name {
  padding-left: 20px;
  font-size: 24px;
  flex: 1 1 70%;
  position: absolute;
  margin-top: 30px;
  
}
/*  */

.slider__input {
  display: none;
}

.slider__controls {
  width: 100%;
  position: absolute;
  bottom: 0;

  gap: 20px;
}
.slider__input:first-of-type:checked
  ~ .slider__controls
  .slider__controls-element:first-of-type,
.slider__input:first-of-type:checked
  ~ .slider__controls
  .slider__controls-element:first-of-type(2),
.slider__input:first-of-type:checked
  ~ .slider__controls
  .slider__controls-element:first-of-type(3),
.slider__input:first-of-type:checked
  ~ .slider__controls
  .slider__controls-element:first-of-type(4),
.slider__input:first-of-type:checked
  ~ .slider__controls
  .slider__controls-element:first-of-type(5) {
  background: var(--color-green);
}

.slider__controls-element {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;

  background: grey;
  cursor: pointer;
  transition: opacity 0.25s ease;
}
.slider__controls-element:hover {
  opacity: 0.8;
  border-color: rgb(0 0 0/50%);
  background: var(--color-green);
}

.slider__input:first-of-type:checked ~ .slider__wrapper:first-of-type {
  margin-left: 0;
}
.slider__input:nth-of-type(2):checked ~ .slider__wrapper:first-of-type {
  margin-left: -100%;
}
.slider__input:nth-of-type(3):checked ~ .slider__wrapper:first-of-type {
  margin-left: -200%;
}
.slider__input:nth-of-type(4):checked ~ .slider__wrapper:first-of-type {
  margin-left: -300%;
}
.slider__input:nth-of-type(5):checked ~ .slider__wrapper:first-of-type {
  margin-left: -400%;
}

/* секция книги */
.books {
  padding: 20px 0 80px;
  flex-direction: column;
  position: relative;
}
.section-description {
  margin-bottom: 40px;
  font-size: 18px;
  text-align: center;
}
.active {
  color: var(--color-green);
}
/* секция работа */
.work {
  padding: 40px 0;
}
.work-wrapper {
  position: relative;
  flex-direction: column;

  width: var(--work-wrapper);
  margin: 0 auto;
  padding: 40px 0;
}
.work-wrapper:before {
  content: "";
  width: 1px;
  height: 100%;
  background: rgb(156, 156, 156);
  position: absolute;
  display: inline-block;
}

.work-element.left {
  margin-right: auto;
}
.work-element.right {
  margin-left: auto;
}
.work-element {
  position: relative;
  padding: 10px;
  width: var(--work-element);
  box-shadow: 3px 3px 10px rgb(0 0 0/0.3);
  border-radius: 2px;
  border-left: 3px solid var(--color-green);
  background: #ffffffdf;
}
.work-element:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: var(--work-margin);
  height: 1px;
  background: var(--color-green);
  top: calc(var(--work-year) / 2);
}
.work-element:after {
  position: absolute;
  content: attr(data-year);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--work-year);
  height: var(--work-year);
  background: var(--color-green);
  border-radius: 50%;
  top: 0;

  font-size: 14px;
  color: #fff;
}
.work-element.left:after {
  right: var(--work-indent);
}
.work-element.left:before {
  right: var(--work-indent-before);
}
.work-element.right:after {
  left: calc(var(--work-indent) - var(--work-border-left));
}
.work-element.right:before {
  left: var(--work-indent-before);
}

.work-element__animation {
  animation-timing-function: ease-out;
  animation-duration: 2s;
}

.work-element__animation.left {
  animation-name: work-element-move-from-left;
}

.work-element__animation.right {
  animation-name: work-element-move-from-right;
}

@keyframes work-element-move-from-left {
  0% {
    transform: translateX(calc(0px - var(--work-animation-hidden)));
  }
  90% {
    transform: translateX(var(--work-animation-end-margin));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes work-element-move-from-right {
  0% {
    transform: translateX(var(--work-animation-hidden));
  }
  950% {
    transform: translateX(calc(0px - var(--work-animation-end-margin)));
  }
  100% {
    transform: translateX(0);
  }
}

.work-element__tittle,
.work-element__block-tittle {
  font-size: 20px;
}
.work-element__block-tittle {
  margin-bottom: 5px;
}
.work-element__description {
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;
  font-style: italic;
}

.work-element__projects,
.work-element__skills {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 5px;
}
.work-element__projects {
  position: relative;
  color: #fff;
  margin-bottom: 15px;
}
.work-element__projects-element,
.work-element__skills-element {
  background: #e6e6e6;
  padding: 5px 10px;
  border-radius: 15px;
  transition: color 0.25s ease;
  cursor: default;
}
.work-element__projects-element:hover,
.work-element__skills-element:hover {
  background-color: rgb(213, 213, 213);

  color: black;
}
.work-project {
  background-color: var(--color-green);
  color: #fff;
  position: relative;
}
.work-project:hover {
  background-color: #a0a0a0;
  opacity: 10;
}
.work-project__tittle:hover + .work-tooltip {
  display: inline-block;
}
.work-tooltip {
  display: none;
  position: absolute;
  background: #fff;
  width: 300px;
  color: black;
  padding: 5px 20px;
  border: 1px solid var(--color-green);
  border-radius: 15px;
  left: 0;
  bottom: calc(100% + 10px);

  font-size: 15px;
  line-height: 1.3em;
}
.work-tooltip:before,
.work-tooltip:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 30px;
  border: 10px solid transparent;
}
.work-tooltip:before {
  border-top: 7px solid var(--color-green);
  bottom: -17px;
}
.work-tooltip:after {
  border-top: 7px solid rgb(255, 255, 255);
  bottom: -16px;
}
.cls {
  clear: both;
}
/* обратная связь */
.contact-me {
  position: relative;
  padding: 40px 0;
}

.contact-me__form {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.input-wrapper {
  width: 48%;
  

}
.interest-wrapper{
  margin-bottom: 20px;
}
.input-wrapper.left {
  float: left;
}
.input-wrapper.right {
  float: right;
}

.textarea-wrapper {
  margin-top: 20px;
}

.label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 20px;
}

.label:before {
  content: "";
  position: relative;
  width: 25px;
  height: 25px;
  display: inline-flex;
  margin-right: 8px;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-position: center;
}
.input {
  padding: 5px 5px 5px 20px;
}
.input.input:focus,
.textarea:focus {
  outline: 1px solid var(--color-green);
}

.textarea {
  padding: 20px;
  min-width: 100%;
  max-width: 100%;
  min-height: 60px;
}

.input,
.textarea {
  width: 100%;
  border: none;
  outline: 1px solid rgb(193, 193, 193);
}

.submit {
  display: block;
  border-radius: 2px;
  height: 45px;
  padding: 10px 20px;
  margin-left: auto;
  margin-top: 10px;
  border: none;
  background: var(--color-green);
  outline: none;
  box-shadow: none;
  cursor: pointer;
  color: #fff;
  opacity: 1;
  transition: opacity 0.25s ease;
}

.submit:hover {
  opacity: 0.8;
}

.label[for="name"]:before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%2376bc21" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" /></svg>');
}

.label[for="email"]:before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%2376bc21" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" /></svg>');
}

.label[for="message"]:before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%2376bc21" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" /></svg>');
}
.form-result {
  position: absolute;
  inset: 0;
  background: rgba(128, 128, 128, 0.721);
}
.blur {
  filter: blur(5px);
}
.form-result__content {
  max-width: 1200px;
  font-size: 20px;
  color: #fff;
}
/* подвал */
.footer {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  display: flex;
  gap: 10px;
  list-style-type: none;
  margin-bottom: 10px;
}

.footer-about {
  color: black;
}

.social-element__link {
  width: 25px;
  height: 25px;
}

#hamburger, .menu-hamburger {
  display: none;
}

.skill-card {
  display: none;
}
.skill-card.active {
  display: block;
}

.skills-list__element.active {
  border: 2px solid green;
}






/* перевод */
