/* переменные */
:root {
  --color-green: #76bc21;
  --background-black-opacity: rgba(27, 7, 66, 0.907);
}

/* общие стили */
a {
  color: var(--color-green);
  text-decoration: none;
  transition: opacity 0.25s ease;
}
a:hover {
  opacity: 0.7;
}
/* header стили */
.header {
  height: 110vh;
  background: url("/comp.jpeg") no-repeat center; /* блокировка повторения изображения */

  background-size: cover; /* растягивание картинки по размерам блока */
  clip-path: polygon(100% 0, 100% 85%, 49% 100%, 0 84%, 0 0);
  position: relative;
}
.header__background {
  height: inherit;
  position: absolute;
  width: 100%;
  background: rgba(54, 18, 121, 0.712);
  z-index: 1;
}

.header-top {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  background: var(--background-black-opacity);
  position: relative;
  z-index: 2;
}
.header-top a {
  color: white;
}
.header-top a.active {
  color: var(--color-green);
}
.logo {
  font-size: 36px;
  color: white;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-element {
  margin-right: 10px;
  font-size: 22px;
}
.menu-element:last-child {
  margin-right: 0;
}

.switcher {
  position: relative;
  display: flex;
  align-items: center;
  height: 35px;
  background: var(--color-green);
  border-radius: 20px;
  width: 100px;
  padding: 0 10px;
  opacity: 0.9;
  transition: opacity 0.025s ease;
  font-size: 14px;
  cursor: pointer;
}
.switcher:hover {
  opacity: 1;
}
.switcher:before {
  content: "";
  width: 50px;
  height: 30px;
  background: #fff;
  position: absolute;
  z-index: 1;
  border-radius: 20px;
  left: 47px;

  transition: left 0.25s ease-in-out;
}
#lang:checked + .switcher:before {
  left: 3px;
}
#lang:checked + .switcher span:first-child {
  color: var(--color-green);
}
#lang:checked + .switcher span:last-child {
  color: #fff;
}
/* разделили кнопку на две части */
.switcher span {
  flex: 1 1 50%;
  text-align: center;
  position: relative;
  z-index: 2;
  color: var(--color-green);
  transition: color 0.25s ease-in-out;
}
.switcher span:first-child {
  color: #fff;
}

#lang {
  display: none;
}
.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  position: relative;
  z-index: 2;

  color: #fff;
}
.name {
  font-size: 58px;
  line-height: 74px;
}

.header-center__wrapper {
  background-color: var(--background-black-opacity);
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.description {
  font-size: 22px;
}
